* {
    list-style: none;
    /* text-decoration: none; */
    margin: 0;
    padding: 0;
    font-family: Poppins;
}

body {
    background: #00183a;
    /* background: #00183d; */
}

header nav{
    display: flex;
    justify-content: space-around;
    background: white;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 5;
}

ul li a {
    display: block;
    padding: 10px 20px;
    font-size: 19px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #00183a;
    transition: .5s;
    font-weight: 500;
    border: 1px solid #fff;
    border-radius: 6px;
    margin: 5px 15px;
    text-decoration: none;
}



ul li a:hover {
    color: #fff;
    scale: 1.10;
    background-color: #00183a;
    border: 1px solid #fff;
    box-shadow: 0 0 10px black;
}

ul {
    display: flex;
    margin-right: 100px;
    /* border: 1px solid red; */
}

h1 {
    margin: 15px 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #00183a;
    margin-left: 80px;
    font-size: 30px;
    display: block;
}

/* h1 span {
    color: #FFCF59;
} */

label #btn,
#cancel {
    position: absolute;
    font-size: 35px;
    top: 30px;
    right: 30px;
    display: none;
}

#check {
    display: none;
}

/* menu */

.menu{
    max-width: 90%;
    height: auto;
    /* border: 1px solid red; */
    margin: 50px auto 0;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
}

.menu-one{
    margin: 5px;
    /* width: 500px; */
    height: auto;
    /* border: 1px solid yellow; */
    
}

.menu-two{
    margin: 5px;
    width: 400px;
    /* border: 1px solid yellow; */
}

.menu-two img{
    /* border: 1px solid grey; */
    width: 100%;
}

.menu-one h3{
    font-size: 28px;
    font-family: poppins;
    color: white;
    line-height: 80px;
}

.menu-one h2{
    font-size: 40px;
    color: #fff;
    line-height: 30px;
    /* border: 1px solid red; */
    max-width: 450px;
}

.menu-one p{
    color: white;
    max-width: 500px;
}

.menu-one .ikon{
    /* border: 1px solid red; */
    max-width: 300px;
    margin-top: 40px;
}


.menu-one .ikon i:hover{
    border-radius: 50%;
    color: black;
    transition: .8s;
    text-shadow: 0 0 5px white;
}

.ikon i{
    color: white;
    font-size: 30px;
    margin: 10px 10px;
    
}

.menu-one button{
    width: 150px;
    height: auto;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    margin-top: 30px;
    font-family: poppins;
    border: 1px solid white;
    cursor: pointer;
}

.menu-one button:hover{
    background-color: black;
    color: white;
    transition: .8s;
    border: 1px solid #fff;
    box-shadow: 0 0 10px black;
}

/* info */

.info{
    width: 90%;
    /* border: 1px solid red; */
    height: auto;
    margin:20px auto;
}

.info h1{
    text-align: center;
    color: white;
    font-size: 40px;
    margin-left: 0;
}

.info h2{
    text-align: center;
    color: white;
}

.info p{
    color: white;
    text-align: center;
    margin-top: 10px;
}

.info-box{
    width: 80%;
    height: auto;
    /* border: 1px solid green; */
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.info-box-one{
    width: calc(100% / 2 - 20px);
    height: 100%;
    /* border: 1px solid yellow; */
    
}

.info-box-one h4{
    color: white;
    font-weight: 400;
    line-height: 50px;
}

.info-box-one h4 span{
    font-weight: 700;

}
/* box */

.box{
    max-width: 90%;
    height: auto;
    /* border: 1px solid red; */
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.box .video {
    width: 380px;
    height: 500px;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid grey;
    border-radius: 10px;
} 

.box .video:hover{
    background-color: #012455;
    transition: .8s;
}

.video video{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

/* skil */

.skil{
    width: 90%;
    height: auto;
    /* border: 1px solid red; */
    margin: auto;
}

.skil h2{
    text-align: center;
    color: white;
}

.skil-box{
    /* border: 1px solid yellow; */
    width: 100%;
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
    box-sizing: border-box;
}

.skil-box-one{
    width: 250px;
    height: 200px;
    border: 1px solid grey;
    margin: 20px 0;
    border-radius: 10px;
    transition: .5s;
}

.skil-box-one:hover{
    background-color: #012455;
    box-shadow: 0 0 5px white;
    /* scale: 1.1; */
}

.skil-box-one i{
    margin-top: 20px;
    display: block;
    color: white;
    text-align: center;
    font-size: 80px;
    
}

.skil-box-one h3{
    text-align: center;
    margin-top: 20px;
    color: white;
    font-size: 30px;
}


/* skil-box-2 */

.skil-box-2{
    /* border: 1px solid yellow; */
    width: 100%;
    display: grid;
    flex-wrap: wrap;
    grid-template-columns:auto auto;
    justify-content: space-around;
    box-sizing: border-box;
}

.skil-box-two{
    width: 300px;
    height: 200px;
    border: 1px solid grey;
    margin: 20px 0;
    border-radius: 10px;
    transition: .5s;
}

.skil-box-two:hover{
    background-color: #012455;
    box-shadow: 0 0 5px white;
    /* scale: 1.1; */
}


.skil-box-two i{
    margin-top: 20px;
    display: block;
    color: white;
    text-align: center;
    font-size: 80px;
    
}

.skil-box-two h3{
    text-align: center;
    margin-top: 20px;
    color: white;
    font-size: 30px;
}




/* project */

.project{
    width: 90%;
    height: auto;
    /* border: 1px solid red; */
    margin: auto;
}

.project h1{
    color: white;
    margin-left: 0;
    text-align: center;
    font-size: 40px;
}

.pro-box{
    width: 100%;
    height: auto;
    /* border: 1px solid yellow; */
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;

}

.pro-box-one{
    border: 1px solid grey;
    width: calc(100% / 3 - 30px);
    margin: 20px 0;
    height: auto;
    padding: 10px;
    border-radius: 15px;
    transition: .5s;
    box-sizing: border-box;
}

.pro-box-one:hover{

    background-color: #012455;
    box-shadow: 0 0 2px white;
    border: 1px solid white;
}


.pro-box-one img{
    width: 90%;
    height: 180px;
    display: block;
    margin: 10px auto;
    border-radius: 15px;
    border: 1px solid white;
}

.pro-box-one h3{
    text-align: center;
    color: white;
}

.pro-box-one p{
    color: white;
    text-align: center;
    margin-top: 10px;
}

.pro-box-one button{
    display: block;
    margin: 20px auto 5px;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    transition: .8s;
}

.pro-box-one a{
    text-decoration: none;
}

.pro-box-one button:hover{
    background-color: black;
    color: white;
    box-shadow: 0 0 10px grey;
}

/* team */

.team{
    width: 90%;
    height: auto;
    /* border: 1px solid red; */
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.team-box{
    width: calc(100% / 3 - 50px );
    border: 1px solid grey;
    height: auto;
    border-radius: 10px;
    overflow: hidden;
}

.team-box img{
    width: 100%;
}

.team-box h2{
    text-align: center;
    color: white;
}

.team-box p{
    text-align: center;
    color: white;
    margin-top: 15px;
}

.team-box button{
    display: block;
    margin: 10px auto;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    transition: .8s;
}

.team-box button:hover{
    background-color: black;
    color: white;
    box-shadow: 0 0 10px grey;
}


@media screen and (max-width: 800px) {
    .skil-box{
        grid-template-columns: auto auto;
    }
    
}


@media screen and (max-width: 700px) {
    ul{
        top: 0px;
        position: fixed;
        width: 50%;
        height: 100vh;
        background: white;
        display: block;
        right: -100%;
        transition: 1s;
        padding-top: 50px;
        
    }

    ul li a{
        margin: 20px 20px;
        border: 1px solid #00183a;
    }
    ul li a:hover{
        background-color: black;
        scale: 1;
    }

    label #btn {
        display: inline-block;
        color: #00183a;
        margin-top: -10px;
    }

    #check:checked~ul {
        right: -100px;
    }

    #check:checked~label #btn {
        display: none;
    }

    #check:checked~label #cancel {
        display: block;
        color: #00183a;
        z-index: 1;
        margin-top: -10px;
    }

    header{
        position: relative;
        z-index: 5;
    }

    nav h1{
        margin-left: -50px;
    }

    /* menu */

   

    .menu-one{
        display: block;
        width: 100%;
        margin: 10px auto 0;
        text-align: center  ;
    }

    .menu-one h3{
        text-align: center;
        
    }

    .menu-one h2{
        margin: auto;
    }

    .menu-one p{
        margin: auto;
    }

    .menu-two{
        display: block;
        margin: 30px auto;
        width: 300px;
    }

    .ikon{
        margin: auto;
    }

    /* menu */

    .box{
        display: block;
        margin: auto;
    }

    .video{
        margin: 20px auto;
        position: relative;
        z-index: 1;
    }

    /* info-box */

    .info-box-one{
        width: 100%;
    }

    /* proekt */


    .pro-box-one{
        width: calc(100% / 2 - 20px);
    }
    .pro-box-one img{
        height: auto;
    }

    /* skil */

    .skil-box{
        grid-template-columns: auto auto;
    }

    .skil-box-one{
        width: 200px;
    }

    /*skil box -2 */

    .skil-box-two{
        width: 200px;
    }
    /* team */

    .team-box{
        width: calc(100% / 2 - 20px);
    }
}   




@media screen and (max-width: 420px) {
    ul {
        position: fixed;
        width: 50%;
        height: 100vh;
        background: white;
        display: block;
        right: -100%;
        transition: 1s;
    }

    /* h1 {
        font-size: 25px;
        margin-left: 50px;
    } */

    #h1{
        margin-left: 0px;
    }

    label #btn {
        display: inline-block;
        margin-top: -15px;
        color: black;
    }

    #check:checked~ul {
        right: -100px;
    }

    #check:checked~label #btn {
        display: none;
        
    }

    #check:checked~label #cancel {
        display: block;
        color: black;
        z-index: 1;
        margin-top: -15px;
    } 

    /* menu */

    .menu{
        display: block;
        flex-flow: column-reverse;
        margin: 10px auto;
    }

    .menu-one{
        display: block;
        width: 100%;
        margin: 10px auto 0;
        text-align: center  ;
    }

    .menu-one h3{
        text-align: center;
        font-size: 20px;
        line-height: 60px;
    }

    .menu-one h2{
        margin: auto;
        line-height: 40px;
        font-size: 30px;
    }

    .menu-one p{
        margin: 10px auto;
        font-size: 16px;
    }

    .ikon{
        margin: auto;
    }

    .ikon i{
        font-size: 30px;
    }

    .menu-one button{
        font-size: 18px;
    }

    .menu-two{
        width: 250px;
        display: block;
        margin: auto;
    }

    /* menu */

    .menu{
        display: flex;
    }

    .box{
        display: block;
        margin: auto;
    }

    .box .video{
        width: 90%;
        margin: 20px auto;
    }

    .video video{
        width: 100%;
    }

    /* info */

    .info h1{
        font-size: 30px;
    }

    .info h2{
        font-size: 20px;
    }

    .info p{
        margin-top: 20px;
    }

    .info-box{
        width: 100%;
    }
    
    .info-box-one h4{
        font-size: 16px;
    }

    /* proekt */

    .project h1{
        font-size: 30px;
    }

    .pro-box-one{
        width: 100%;
    }

    /* skil */

    .skil-box{
        grid-template-columns:auto;
    }

    /* skil-box-2 */

    .skil-box-2{
        grid-template-columns:auto;
    }

     /* team */

     .team-box{
        width: calc(100% - 50px);
    }

}